body {
  /* padding: 10px
    #353531
    #EC4E20
    495c59 gray
    E6E7CA white
    47704A green
    */
  }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.button {
  background-color: #353531;
}

.button:hover {
  background-color: #fff;
  color: #ec4e20;
}

.nav-panel {
  display: flex;
  flex-direction: column;
  background-color: #ec4e20;
  padding: 2% 4%;
  width: 100%;
}

.sidebar {
  padding: 2%;
  width: 300px;
  color: white;
  background-color: #353531;
  min-height: 100vh;
  min-width: 25%;
}

.sidebar img {
  width: 70px;
  margin: 0 auto;
  display: flex;
}

.list-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  cursor: pointer;
}

.list-cont h3 {
    width: 100%;
    padding: 5%;
}

.active {
  background-color: #ec4e20;
  border-radius: 5px;
}

#task-form {
  /* display: none; */
  margin-bottom: 2%;
  margin-top: 4%;
}

.adv-input {
  display: inline;
}

.advanced-options {
  display: none;
}

.tasks-list, .done-list {
  border-radius: 5px;
}

.tasks-list > div, .done-list > div {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 2%;
}


.done-list > div {
    opacity: 0.7;
    text-decoration: line-through;
}

.date-and-priority {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-and-priority input {
  margin-right: 12px;
  height: 30px;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.task-container .main-info,
.task-container .additional-info {
  display: flex;
}

.task-container .additional-info > * {
  margin-left: 12px;
}

.task-container input {
  /* padding: 5px; */
}

.task-container form {
  margin: 2% 0;
  width: 100%;
}

.details-container {
  width: 100%;
  padding: 2%;
  background-color: #353531;
  color: #f8f8f8;
  border-radius: 5px;
}

.extra-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
