body {
    /* padding: 10px
    #353531
    #EC4E20
    #FF9505
    #016FB9
    #000000
    */
}

.nav-panel{
    display: flex;
    flex-direction: column;
    background-color: #EC4E20;
    padding: 2%;
    width: 100%;
}

.sidebar {
    padding: 2%;
    width: 300px;
    color:white;
    background-color: #353531;
    min-height: 100vh;
    min-width: 25%;
}

.sidebar img {
    width: 70px;
    margin: 0 auto;
    display: flex;
}

.list-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.active {
    background-color: #EC4E20;
    border-radius: 5px;
}

.task-form {
    display: none;
}

.adv-input {
    display: inline;
}

.advanced-options {
    display: none;
}

.tasks-list {
    border-radius: 5px;
    padding: 2%;
}
.tasks-list > div{
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 2%;
}

.done-list {
    background-color: yellowgreen;
}